body {
    background-color: rgb(10, 13, 20);
}
h1 {
    text-align:center;
    color:white;
    font-family:poppins,sans-serif;
    font-size:50px;

}
.gallery {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 15px; padding:20px
}
.gallery img {
    width: 100%;
    border-radius: 11px;
    object-fit: cover;
}
.gallery img {
    transition: 0.3s;
}
.gallery img:hover {
    box-shadow: 10px 10px 20px #000;
    opacity: 0.8;
    cursor: pointer;
}
p {
    text-align:center;
    color: #dcdcbc;
    font-family:poppins,sans-serif;
    font-size:25px;
}
button {
    background-color: rgb(15, 17, 25);
    color:white;
    font-family:poppins,sans-serif;
    font-size:25px;
    border-radius: 13px;
    cursor :pointer;
    padding : 10px;
    background-size: 20px;
}